@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}
:root {
    /* Colors*/
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    /* Spacing */
    --spacing-200: 1.5rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;

    /* Text configuration */
    --text-preset-1-size: 1.5rem;
    --text-preset-2-size: 1rem;
    --text-preset-3-size: 0.875rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--yellow);
    font-family: "Figtree";
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    width: 21rem;
    height: 29.6rem;
    padding: var(--spacing-200);
    margin: 0 var(--spacing-200);
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000;
    gap: var(--spacing-200);
}

img {
    border-radius: 10px;
    align-self: stretch;
}

a {
    text-decoration: none;
    color: var(--gray-950);
}

h1 {
    font-weight: 800;
    font-size: var(--spacing-200);
    color: var(--gray-950);
    line-height: 150%;
}

a:hover {
    color: var(--yellow);
}

a:focus {
    color: var(--yellow);
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150)
}

.category {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    padding: var(--spacing-50) var(--spacing-150);
    font-size: var(--text-preset-3-size);
    background-color: var(--yellow);
    font-weight: 800;
    line-height: 150%;
}

.publish-date {
    color: var(--gray-950);
    font-size: var(--text-preset-3-size);
    font-weight: 500;
    line-height: 150%;
}

.description {
    color: var(--gray-500);
    font-size: var(--text-preset-2-size);
    font-weight: 500;
    line-height: 150%;
}

.author {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
}

.userpic {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-size: cover;
}

.authorname {
    font-weight: 800;
    line-height: 150%;
    font-size: var(--text-preset-3-size);
    color: var(--gray-950);
}